<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application-qna" caption="msg://com.batyrov.erp/menu.application-qna">
        <item screen="erp_QuestionnaireConfig.browse"
              caption="msg://com.batyrov.erp.screen.qna.questionnaireconfig/questionnaireConfigBrowse.menu"/>
        <item screen="erp_Question.browse" caption="msg://com.batyrov.erp.screen.qna.question/questionBrowse.menu"/>
        <separator/>
        <item screen="erp_GeoPoint.browse" caption="msg://com.batyrov.erp.screen.qna.geopoint/geoPointBrowse.menu"/>
        <item screen="erp_Reference.browse" caption="msg://com.batyrov.erp.screen.qna.reference/referenceBrowse.menu"/>
        <item screen="erp_ReferenceValue.browse"
              caption="msg://com.batyrov.erp.screen.qna.referencevalue/referenceValueBrowse.menu"/>
        <separator/>
        <item screen="erp_Questionnaire.browse"
              caption="msg://com.batyrov.erp.screen.qna.questionnaire/questionnaireBrowse.menu"/>
        <separator/>
    </menu>

    <menu id="application-docs" caption="msg://com.batyrov.erp/menu.application-docs" >

        <item screen="erp_OutcomingNonCashPayment.browse"
              caption="msg://com.batyrov.erp.screen.docs.payment/outcomingNonCashPaymentBrowse.menu"/>
        <item screen="erp_OutcomingCashPayment.browse"
              caption="msg://com.batyrov.erp.screen.docs.payment/outcomingCashPaymentBrowse.menu"/>
        <item screen="erp_IncomingCashPayment.browse"
              caption="msg://com.batyrov.erp.screen.docs.payment/incomingCashPaymentBrowse.menu"/>
        <item screen="erp_IncomingNonCashPayment.browse"
              caption="msg://com.batyrov.erp.screen.docs.payment/incomingNonCashPaymentBrowse.menu"/>
        <item screen="erp_RequestForPurchase.browse"
              caption="msg://com.batyrov.erp.screen.docs.request/requestForPurchaseBrowse.menu"/>
    </menu>

    <menu id="application-references" caption="msg://com.batyrov.erp/menu.application-references">
        <item screen="erp_Person.browse" caption="msg://com.batyrov.erp.screen.reference.person/personBrowse.menu"/>
        <item screen="erp_Contract.browse"
              caption="msg://com.batyrov.erp.screen.reference.contract/contractBrowse.menu"/>
        <item screen="erp_Parthner.browse"
              caption="msg://com.batyrov.erp.screen.reference.parthner/parthnerBrowse.menu"/>
        <item screen="erp_Company.browse" caption="msg://com.batyrov.erp.screen.reference.company/companyBrowse.menu"/>
        <item screen="erp_BusinessUnit.browse"
              caption="msg://com.batyrov.erp.screen.reference.businessunit/businessUnitBrowse.menu"/>
        <item screen="erp_CostCentre.browse" caption="msg://com.batyrov.erp.entity.costcentre/costCentreBrowse.menu"/>
        <item screen="erp_ProjectType.browse"
              caption="msg://com.batyrov.erp.screen.reference.projecttype/projectTypeBrowse.menu"/>
        <item screen="erp_Wallet.browse" caption="msg://com.batyrov.erp.screen.reference.wallet/walletBrowse.menu"/>
        <item screen="erp_Ware.browse" caption="msg://com.batyrov.erp.screen.reference.ware/wareBrowse.menu"/>
        <item screen="erp_Projects.browse" caption="msg://com.batyrov.erp.screen.reference.project/projectBrowse.menu"/>
        <item screen="erp_Warehouse.browse"
              caption="msg://com.batyrov.erp.screen.reference.warehouse/warehouseBrowse.menu"/>
        <item screen="erp_Currency.browse"
              caption="msg://com.batyrov.erp.screen.reference.currency/currencyBrowse.menu"/>
        <item screen="erp_CostCategory.browse"
              caption="msg://com.batyrov.erp.screen.reference.costcategory/costCategoryBrowse.menu"/>
        <item screen="erp_IncomeCategory.browse"
              caption="msg://com.batyrov.erp.screen.reference.incomecategory/incomeCategoryBrowse.menu"/>
        <item screen="erp_ContractOrder.browse"
              caption="msg://com.batyrov.erp.screen.reference.contract/contractOrderBrowse.menu"/>
    </menu>
    <menu id="application-ledgers" caption="msg://com.batyrov.erp/menu_config.application-ledgers"
          insertBefore="administration">
        <item screen="erp_ParthnerLedger.browse"
              caption="msg://com.batyrov.erp.screen.ledger/parthnerLedgerBrowse.menu"/>
        <item screen="erp_ExpensesLedger.browse"
              caption="msg://com.batyrov.erp.screen.ledger/expensesLedgerBrowse.menu"/>
        <item screen="erp_IncomeLedger.browse" caption="msg://com.batyrov.erp.screen.ledger/incomeLedgerBrowse.menu"/>
    </menu>

    <menu id="application" caption="msg://com.batyrov.erp/menu.application" insertBefore="administration">
        <item screen="erp_User.browse" caption="msg://com.batyrov.erp.screen.user/UserBrowse.caption"/>
        <item screen="erp_User.browse2" caption="msg://com.batyrov.erp.screen.user/userBrowse2.menu"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>

</menu-config>